.c-card {
  width: 240px;
  background-color: #FFF;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  &--inner {
    pointer-events: none;
  }
  &--title {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
  }
  &--desc {
    font-size: 14px;
    padding: 5px 0;
  }
  &--user {
    font-size: 14px;
    padding: 5px 0;
    text-align: end;
  }
  &--placeHolder {
    min-width: 240px;
    min-height: 10px;
    border-radius: 5px;
    background-color: #E0E2E6;
  }
  &--active {
    transform: rotate(12deg);
  }
}