.c-card {
  width: 240px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px;
  &--inner {
    pointer-events: none;
  }
  &--title {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
  }
  &--desc {
    font-size: 14px;
    padding: 5px 0;
  }
  &--user {
    font-size: 14px;
    padding: 5px 0;
    text-align: end;
  }
  &--placeHolder {
    min-width: 240px;
    min-height: 10px;
    margin-bottom: 5px;
    background-color: #AEAFAE;
  }
}